name: Tests

on: [push, pull_request]

env:
  PY_COLORS: "1"

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        experimental: [false]
        python-version: ["3.7", "3.11" "3.12.0-alpha - 3.12.0"]
      fail-fast: false

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --pre tox
    - name: Test with tox
      run: |
        tox -e py

  docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r doc/doc-requirements.txt
          pip install -e .
      - name: Build documentation
        run: |
          python -m sphinx -W -an doc build
      - uses: actions/upload-artifact@v3
        with:
          name: sphinx-out
          path: ./build/
          retention-days: 5
